
.top_part{
    padding: 1px;
    background-color: rgb(39, 159, 217);

}

.mail_page a{
    color: rgba(3, 21, 5, 0.67);
    text-decoration: none;
    margin-right: 12px;
}



.imu{
    height: 220px;
}
.sidejob{
    height: 70px;
}
.breaking{
    height: 450px;
}


.contact{
    text-align: center;
    margin-top: 50px;
}


@media screen and (max-width: 1060px) {
    .postbody{ padding: 20px }
    .contact{margin-top: 10px;margin-bottom: 20px}
}